In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing

In [2]:
# 1. Sample generation
classpath = 'lab2dataset/practice_dataframe.xlsx'
data = pd.read_excel(classpath)
data.head()

,Unnamed: 0,cat1_gender,cat2_hairColor,cat3_education,cat4_income,cat5_customerSatisfaction,cat6_brandOfSoaps,cat7_motivesForEmployeesToWorkBetter,cat8_motivesForTravelling,cat9_age,...,num3_16,num3_17,num3_18,num3_19,num3_20,num3_21,num3_22,num3_23,num3_24,num3_25
0,0,male,black,high school,"$40,001 - $50,000",good,lux,Peer motivation,Health,below 21 years,...,116.806927,234.452862,284.304766,663.188133,266.017853,29.215246,648.5319,598.534627,971.167308,703.129209
1,1,male,Red,phd,"$40,001 - $50,000",Good,NaN,Professional growth opportunities,Study,59 years and above,...,98.26433,193.074047,320.926465,409.817217,279.6318,47.219151,665.864398,540.066994,933.449443,614.411678
2,2,male,black,School SAT,"$40,001 - $50,000",Good,Lux,peer motivation,Family,59 years and above,...,NaN,271.721837,411.846997,540.369226,703.053616,21.810823,667.958668,,950.209325,530.122551
3,3,NaN,Red,BSc,"Below $30,001",Very good,lux,Recognition,Health,59 years and above,...,116.613291,,410.483469,382.262612,779.486696,109.295732,651.231183,601.869269,942.957073,620.665623
4,4,male,black,phd,-,Very good,Dove,Recognition,Health,59 years and above,...,146.187875,259.617643,474.096709,410.063319,563.026229,152.853238,645.612568,422.557245,947.163814,558.01966